* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
  pointer-events: none;
}

body {
  font-family: "WDXL Lubrifont TC", sans-serif;
  height: 100vh;
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 30%;
  z-index: -1;
  background-image: url(../imgs/background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
}

header,
main,
footer {
  width: 80%;
  margin: auto;
}
main {
  position: relative;
}
/* header */
header {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 4rem;
  color: white;
  font-weight: bold;
}
/* nav */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}
nav button {
  color: white;
  border: none;
  outline: none;
  font-size: 1.3rem;
  font-family: "WDXL Lubrifont TC", sans-serif;
  background-color: transparent;
  cursor: pointer;
}

/* main */
/* search container */
.search-container {
  display: flex;
  min-width: 50%;
  max-width: 80%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-container input {
  flex: 1;
  border: none;
  padding: 1rem 12px;
  font-size: 16px;
  outline: none;
}
.search-container button {
  background-color: white;
  border: none;
  padding: 10px 2rem;
  font-size: 16px;
  cursor: pointer;
  border-left: 1px solid #ccc;
}
.search-container button:hover {
  background-color: #e2e4e8;
}
/* app container */
.app-container {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* explore */
.explore {
  text-align: center;
}
#message,
.watchlist-msg p,
.explore p {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: #dfdddd;
  margin-bottom: 1rem;
}
.watchlist-msg #add,
.explore #add {
  width: 18px;
}
.watchlist-msg button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  text-decoration: none;
  margin: auto;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.movies-container {
  margin-top: 5rem;
}
#watchlist-movies-container {
  margin-top: 0;
}
/* Movie Card */
.movie-card {
  display: flex;
  align-items: center;
  background: white;
  padding: 16px;
  max-width: 800px;
  margin: auto;
  border-bottom: #e5e7eb solid 1px;
  font-family: "Inter", sans-serif;
}
.movie-card img {
  width: 150px;
  height: auto;
  border-radius: 6px;
  margin-right: 16px;
}
.movie-info {
  flex: 1;
}
.movie-info .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  display: flex;
  align-items: center;
}
.rating {
  margin-left: 8px;
  font-size: 15px;
  color: #111827;
  display: flex;
  align-items: center;
  gap: 5px;
}
.meta {
  font-size: 1rem;
  margin: 8px 0;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.watchlist {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.watchlist p,
.watchlist button {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 0.5rem;
  cursor: pointer;
}
.star img,
.watchlist img {
  width: 18px;
  margin-right: 0;
}
.description {
  font-size: 1.3rem;
  color: #6b7280;
  line-height: 1.4;
}
/* footer */
footer p {
  text-align: center;
  padding: 1rem;
}
footer a {
  color: #4b4b4b;
  text-decoration: none;
}
/* Media Queries */
@media (max-width: 670px) {
  header h1 {
    font-size: 2rem;
  }
  nav {
    gap: 1rem;
  }
  nav a {
    font-size: 1rem;
  }
  nav button {
    font-size: 1rem;
  }
  .search-container {
    min-width: 70%;
    max-width: 90%;
  }
  header,
  main,
  footer {
    width: 90%;
    margin: auto;
  }
  .movie-title {
    font-size: 1.5rem;
  }
  .watchlist button {
    font-size: 1rem;
  }
  .meta {
    font-size: 0.8rem;
  }
  .description {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .movie-card {
    flex-direction: column;
  }
  .movie-details {
    flex-direction: column-reverse;
    margin-top: 0.5rem;
  }
  .movie-card .movie-poster {
    margin: 0 0 16px 0;
  }
  .meta {
    justify-content: center;
  }
  .description {
    text-align: center;
  }
  .movie-info .info {
    justify-content: center;
  }
  .movie-title {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
  }
  header {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .search-container input {
    padding: 0.5rem 10px;
    font-size: 15px;
  }
  .search-container button {
    padding: 10px 0.5rem;
    font-size: 16px;
  }
}
/* Dark Mode */
body.dark .movie-card,
body.dark {
  background-color: #121212;
}
body.dark .watchlist-msg button,
body.dark .watchlist p,
body.dark .explore a,
body.dark .movie-card .watchlist button,
body.dark .movie-card .rating,
body.dark .meta,
body.dark .movie-title {
  color: white;
}
body.dark .search-container {
  border: 1px solid #323232;
}
body.dark .search-container input {
  background-color: #323232;
  color: white;
}
body.dark .search-container button {
  background-color: #4b4b4b;
}
body.dark footer p {
  color: white;
}
